<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Udpate user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{login}(login=${user.getLogin()})}" th:object="${user}">
  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
  <label for="status">Enter status: </label>
  <input type="text" th:field="*{status}" id="status"/>

  <input type="submit" value="Update"/>
</form>

</body>
</html>